# PNPM configuration (project level)
# Visit: https://pnpm.io/es/npmrc

# npm will stubbornly refuse to install (or even consider installing) any package that claims to not be compatible with
# the current Node.js version.
engine-strict=true

# Dependencies saved to package.json will be configured with an exact version rather than using npm's default semver
# range operator.
save-exact=true

# When "true" displays the message at the end of each npm install acknowledging the number of dependencies looking
# for funding.
fund=false